{% if is_paginated %}
<div class="pagination">
  {% if prev_url %}
  <!---->
  {% if posts.number > 3 %}
  <a href="{{prev_url}}" class="prevposts-link"
    ><i class="fas fa-caret-left"></i
  ></a>
  {% if posts.number > 4 %}
  <!---->
  <span>...</span>
  {% endif %} {% endif %} {% endif %}
  <!---->
  {% for num in posts.paginator.page_range %}
  <!---->
  {% if posts.number == num %}
  <a class="current-page" href="?page={{ num }}">{{ num }}</a>
  {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
  <a href="?page={{ num }}">{{ num }}</a>
  {% endif %} {% endfor %}
  <!---->
  {% if posts.has_next %}
  <!---->
  {% if posts.number < posts.paginator.num_pages|add:'-3' %}
  <!---->
  <span>...</span>
  <a href="?page={{ posts.paginator.num_pages }}">
    {{ posts.paginator.num_pages }}
    <!---->
  </a>
  {% elif posts.number < posts.paginator.num_pages|add:'-2' %}
  <!---->
  <a href="?page={{ posts.paginator.num_pages }}">
    {{ posts.paginator.num_pages }}
  </a>
  <!---->
  {% endif %}
  <a href="{{next_url}}" class="nextposts-link"
    ><i class="fas fa-caret-right"></i
  ></a>
  {% endif %}
</div>
{% endif %}
