{% load static %}


<!--  -->



<section class="no-padding">
    {% if trending %}
    <div class="fs-carousel-wrap">
        <div class="fs-carousel-wrap_title">
            <div class="fs-carousel-wrap_title-wrap fl-wrap">
                <h4>Trending News</h4>
                <h5>Don't Miss And  Stay Up-to-date. Top pic for you.</h5>
            </div>
            <div class="abs_bg"></div>
            <div class="gs-controls">
                <div class="gs_button gc-button-next"><i class="fas fa-caret-right"></i></div>
                <div class="gs_button gc-button-prev"><i class="fas fa-caret-left"></i></div>
            </div>
        </div>
        <div class="fs-carousel fl-wrap">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for post in trending %}
                    <!-- swiper-slide-->  
                    <div class="swiper-slide">
                        <div class="grid-post-item  bold_gpi  fl-wrap">
                            <div class="grid-post-media gpm_sing">
                                <div class="bg" data-bg="{% if post.bg_image %}{{post.bg_image.url}}{% else %}{{post.image.url}}{% endif %}"></div>
                                <div class="author-link"><a href=""><img src="{% static 'images/avatar/ceod.png' %}" alt="">  <span>By {{post.writer.username|upper}}</span></a></div>
                                <div class="grid-post-media_title">
                                    <a class="post-category-marker" href="{% url 'posts:posts' %}">{{post.category|upper}}</a>
                                    <h4><a href="{{post.get_absolute_url}}">{{post.title|truncatewords:"30"}}</a></h4>
                                    <span class="video-date"><i class="far fa-clock"></i> {{post.createdAt|date:"d M Y"}}</span>
                                    <ul class="post-opt">
                                        <li><i class="far fa-comments-alt"></i>  {{post.comments}}</li>
                                        <li><i class="fal fa-eye"></i>  {{post.views}} </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- swiper-slide end-->	
                    {% endfor %}								
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>

