{% load static %}

<div class="col-md-3">
    <div class="left_fix-bar fl-wrap">
        <div class="categories_nav fl-wrap">
            <!-- nav -->
            <nav class="categories_nav-inner" id="menu2">
                {% if nav_categories %}
                <ul>
                    <li><a href="#" class="act-category"><i class="fal fa-rss"></i> All News</a></li>
                    {% for category in nav_categories %}
                    <li>
                        <a href="#"><i class=""></i> {{category.name|upper}}</a>
                        
                        <!--level 2 -->
                        {% if category.get_sub_categories %}
                        <ul>
                            {% for sub in category.get_sub_categories %}
                            <li><a href="{{sub.get_absolute_url}}">{{sub.name|upper}}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <!--level 2 end -->
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </nav>
            <!-- nav end-->
        </div>
        <div class="box-widget-content">
            <div class="banner-widget fl-wrap">
                <div class="bg-wrap bg-parallax-wrap-gradien">
                    <div class="bg  " data-bg="{% static 'images/bg/newssa.jpg' %}"></div>
                </div>
                <!-- <div class="banner-widget_content">
                    <h5>Visit our awesome merch and souvenir online shop.</h5>
                    <a href="#" class="btn float-btn color-bg small-btn">Our shop</a>
                </div> -->
            </div>
        </div>
    </div>
</div>