{% load static %}

<div class="col-md-4">
    <!-- sidebar   -->
    <div class="sidebar-content fl-wrap fixed-bar">
        <!-- box-widget -->
        <div class="box-widget fl-wrap">
            <div class="box-widget-content">
                <div class="search-widget fl-wrap">
                    <form action="#">
                        <input name="se" id="se12" type="text" class="search" placeholder="Search..." value="" />
                        <button type="button" title="shop" class="search-submit2" id="submit_btn12"><i class="far fa-search"></i> </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- box-widget  end -->						
        <!-- box-widget -->
        <div class="box-widget fl-wrap">
            <div class="box-widget-content">
                <div class="banner-widget fl-wrap">
                    <div class="bg-wrap bg-parallax-wrap-gradien">
                        <div class="bg  " data-bg="{% static 'images/bg/newssa.jpg' %}"></div>
                    </div>
                    <!-- <div class="banner-widget_content">
                        <h5>Visit our awesome merch and souvenir online shop.</h5>
                        <a href="#" class="btn float-btn color-bg small-btn">Our shop</a>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- box-widget  end -->					
        <!-- box-widget -->
        {% if side_categories %}
        <div class="box-widget fl-wrap">
            <div class="widget-title">Categories</div>
            <div class="box-widget-content">
                <ul class="cat-wid-list">
                    {% for category in side_categories %}
                    <li><a href="#">{{category.name|upper}}</a><span>3</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <!-- box-widget  end -->
        <!-- box-widget -->
        {% if lim_tags %}
                    <div class="box-widget fl-wrap">
                        <div class="widget-title">Popular Tags</div>
                        <div class="box-widget-content">
                            <div class="tags-widget">
                                {% for tag in lim_tags %}
                                <a href="#">{{tag.name|upper}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
        <!-- box-widget  end -->						
        <!-- box-widget -->
        <div class="box-widget fl-wrap">
            <div class="widget-title">Follow Us</div>
            <div class="box-widget-content">
                <div class="social-widget">
                    <a href="#" target="_blank" class="facebook-soc">
                    <i class="fab fa-facebook-f"></i>
                    <span class="soc-widget-title">Likes</span>
                    <span class="soc-widget_counter">2640</span>
                    </a>
                    <a href="#" target="_blank" class="twitter-soc">
                    <i class="fab fa-twitter"></i>
                    <span class="soc-widget-title">Followers</span>
                    <span class="soc-widget_counter">1456</span>												
                    </a> 
                    <a href="#" target="_blank" class="youtube-soc">
                    <i class="fab fa-youtube"></i>
                    <span class="soc-widget-title">Followers</span>
                    <span class="soc-widget_counter">1456</span>												
                    </a> 												
                    <a href="#" target="_blank" class="instagram-soc">
                    <i class="fab fa-instagram"></i>
                    <span class="soc-widget-title">Followers</span>
                    <span class="soc-widget_counter">1456</span>												
                    </a> 														
                </div>
            </div>
        </div>
        <!-- box-widget  end -->						
        <!-- box-widget -->
        <div class="box-widget fl-wrap">
            <div class="box-widget-content">
                <!-- content-tabs-wrap -->
                <div class="content-tabs-wrap tabs-act tabs-widget fl-wrap">
                    <div class="content-tabs fl-wrap">
                        <ul class="tabs-menu fl-wrap no-list-style">
                            <li class="current"><a href="#tab-popular"> Popular News </a></li>
                            <li><a href="#tab-resent">Resent News</a></li>
                        </ul>
                    </div>
                    <!--tabs -->                       
                    <div class="tabs-container">
                        <!--tab -->
                        <div class="tab">
                            {% if popular %}
                            <div id="tab-popular" class="tab-content first-tab">
                                <div class="post-widget-container fl-wrap">
                                    {% for post in popular %}
                                    <!-- post-widget-item -->
                                    <div class="post-widget-item fl-wrap">
                                        <div class="post-widget-item-media">
                                            <a href="{{post.get_absolute_url}}"><img src="{{post.image.url}}"  alt=""></a>
                                        </div>
                                        <div class="post-widget-item-content">
                                            <h4><a href="{{post.get_absolute_url}}">{{post.title|truncatewords:"10"}}</a></h4>
                                            <ul class="pwic_opt">
                                                <li><span><i class="far fa-clock"></i>{{post.createdAt|date:"d M Y"}}</span></li>
                                                <li><span><i class="far fa-comments-alt"></i>{{post.comments}}</span></li>
                                                <li><span><i class="fal fa-eye"></i>{{post.views}}</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post-widget-item end -->	
                                    {% endfor %}											
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <!--tab  end-->
                        <!--tab -->
                        <div class="tab">
                            {% if recent %}
                            <div id="tab-resent" class="tab-content">
                                <div class="post-widget-container fl-wrap">
                                    {% for post in recent %}
                                    <!-- post-widget-item -->
                                    <div class="post-widget-item fl-wrap">
                                        <div class="post-widget-item-media">
                                            <a href="{{post.get_absolute_url}}"><img src="{{post.image.url}}"  alt=""></a>
                                        </div>
                                        <div class="post-widget-item-content">
                                            <h4><a href="{{post.get_absolute_url}}">{{post.title|truncatewords:"10"}}</a></h4>
                                            <ul class="pwic_opt">
                                                <li><span><i class="far fa-clock"></i>{{post.createdAt|date:"d M Y"}}</span></li>
                                                <li><span><i class="far fa-comments-alt"></i>{{post.comments}}</span></li>
                                                <li><span><i class="fal fa-eye"></i>{{post.views}}</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post-widget-item end -->	
                                    {% endfor %}														
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <!--tab end-->							
                    </div>
                    <!--tabs end-->  
                </div>
                <!-- content-tabs-wrap end -->
            </div>
        </div>
        <!-- box-widget  end -->					
    </div>
    <!-- sidebar  end -->
</div>