{% extends "dashboard/auth/base.html" %}


{% block title %}
{% endblock title %}


{% block action %}

<div class="col-lg-4">
    <div class="card">
      <div class="header">
        <p class="lead">Recover my password</p>
      </div>
      <div class="body">
        <p>
          Please enter your email address below to receive instructions
          for resetting password.
        </p>
        <form
          class="form-auth-small"
          action=""
        >
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              id="signup-password"
              placeholder="Email address"
            />
          </div>
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block"
          >
            RESET PASSWORD
          </button>
          <div class="bottom">
            <span class="helper-text"
              >Know your password?
              <a href="{% url 'dashboard:auth:login' %}">Login</a></span
            >
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock action %}

