{% extends "base.html" %} {% load static %}
<!---->

{% block content %}
 <!--section   -->
 <section class="hero-section">
    <div class="bg-wrap hero-section_bg">
        <div class="bg" data-bg="{% static 'images/bg/contact-us.jpg' %}"></div>
    </div>
    <div class="container">
        <div class="hero-section_title">
            <h2>Our Contacts</h2>
        </div>
        <div class="clearfix"></div>
        <div class="breadcrumbs-list fl-wrap">
            <a href="{% url 'posts:home' %}">Home</a> <a href="">Pages</a> <span>Contacts</span>
        </div>
        <div class="scroll-down-wrap scw_transparent">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll Down To Discover</span>
        </div>
    </div>
</section>
<!-- section end  -->
<!--section   -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="pr-subtitle prs_big">Details</div>
                <!--card-item -->
                <ul class="contacts-list fl-wrap">
                    <li><span><i class="fal fa-map-marker"></i> Adress :</span> <a href="#">Uk London </a></li>
                    <li><span><i class="fal fa-phone"></i> Phone :</span> <a href="+98848474776">+98848474776</a></li>
                    <li><span><i class="fal fa-envelope"></i> Mail :</span> <a href="mailto:editor.Lionnic@gmail.com">editor.Lionnic@gmail.com</a></li>
                </ul>
                <!--card-item end -->
                <div class="contact-social fl-wrap">
                    <span class="cs-title">Find us on: </span>
                    <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
                    </ul>
                </div>
                <!-- box-widget -->
                <div class="box-widget-content fl-wrap">
                    <div class="banner-widget fl-wrap">
                        <div class="bg-wrap bg-parallax-wrap-gradien">
                            <div class="bg  " data-bg="{% static 'images/bg/globall.jpg' %}"></div>
                        </div>
                        <div class="banner-widget_content">
                            <h5>Visit our trusted partner and get your academic solutions asap </h5>
                            <a href="#" target="_blank" class="btn float-btn color-bg small-btn">Explore</a>
                        </div>
                    </div>
                </div>
                <!-- box-widget  end -->				
            </div>
            <div class="col-md-8">
                <div class="pad-con fl-wrap">
                    <div class="pr-subtitle prs_big">Drop us a line</div>
                    <p>We value your voice in shaping the news conversation. Your insights, feedback, inquries, subscriptions and story ideas matter to us. Don't hesitate to use our Contact Us page – it's the bridge connecting you to our dedicated team. Together, we can make our news articles even more informative and relevant. Reach out today, and let's collaborate in bringing the news that truly matters to the forefront.</p>
                    <div id="contact-form" style="margin-top: 20px;">
                        <div id="message"></div>
                        <form method="POST" class="custom-form" action="{% url 'contact' %}" name="contactform" id="contactform">
                            {% csrf_token %}
                            <fieldset>
                                {{contact_form.full_name}}
                                <!--  -->
                                {{contact_form.email}}
                                <!--  -->
                                {{contact_form.message}}
                            </fieldset>
                            <button class="btn color-bg float-btn" type="submit"   id="submit">Send message <i class="fas fa-caret-right"></i></button>
                        </form>
                    </div>
                    <!-- contact form  end--> 					
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

<script>
    function validate(){
        return {
            full_name: document.getElementById("id_full_name").value,
            email:document.getElementById("id_email").value,
            comment:document.getElementById("id_message").value,
        }
    }
    
    const form = document.getElementById("contactform");
    form.addEventListener("submit", function(e){
        e.preventDefault();
        fetch("{% url 'contact' %}", {
            method:"POST",
            headers: {'X-CSRFToken': "{{csrf_token}}"},
            mode: 'same-origin',
            body:validate()
        }).then(response=>response.json()).then(data=>{
            alert("Your comment was posted successfully")
        }).catch(error=>{
            alert("Something went wrong. Try again")
        });
        
    })

    </script>