{% extends "base.html" %} {% load static %}
<!---->

{% include "meta/meta_policy.html" %}



{% block content %}
<!--section   -->
<div class="breadcrumbs-header fl-wrap">
    <div class="container">
        <div class="breadcrumbs-header_url">
            <a href="{% url  'posts:home' %}">Home</a><span> Privacy Policy</span>
        </div>
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll Down To Discover</span>
        </div>
    </div>
    <div class="pwh_bg"></div>
</div>
<!-- section end  -->
<!--section   -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
    <div class= "elementor-section elementor-top-section elementor-element elementor-element-5f319da5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5f319da5" data-element_type="section"><div
        class="elementor-container elementor-column-gap-default"><div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5d529692"
            data-id="5d529692" data-element_type="column"><div
                class="elementor-widget-wrap elementor-element-populated"><div
                    class="elementor-element elementor-element-3d14b9b elementor-widget elementor-widget-gamg-sec-title"
                    data-id="3d14b9b" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container">
                        <i>Last Updated: August 30, 2023</i>
                        <div class="fl-wrap"><div
                                class="widget-title text-left">Who we are</div></div></div></div><div
                    class="elementor-element elementor-element-be23829 elementor-widget elementor-widget-gmag-text-block"
                    data-id="be23829" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>At Lionnic, we understand the importance of your privacy. This Privacy Policy outlines how we collect, use, and disclose information when you engage with our news and information services, which include our website, mobile apps, email newsletters, and other related offerings. Please note that this policy applies globally and may be subject to different regulations depending on your location.
                                </p></div></div></div><div
                    class="elementor-element elementor-element-f66365d elementor-widget elementor-widget-gamg-sec-title"
                    data-id="f66365d" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left">1. Information We Collect</div></div></div></div><div
                    class="elementor-element elementor-element-b080b03 elementor-widget elementor-widget-gmag-text-block"
                    data-id="b080b03" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left">
                            <p>We collect various types of information to provide you with our services effectively.</p>
                        
                            <div class="fl-wrap">
                                <p> Information You Provide:When visitors leave
                                comments on the site we collect the data shown
                                in the comments form, and also the visitor’s IP
                                address and browser user agent string to help
                                spam detection.</p>
                            <p>When you subscribe to our newsletters or access our content, we may collect your name, email address, and contact details.</p>
                            <p>You may voluntarily provide demographic information such as age and gender.</p>
                            <p>If you engage with us on social media, we may collect basic account information associated with your interactions.</p>
                            
                            <p>Your IP address and device information are collected automatically when you use our services.</p>
                            
                            <div class="fl-wrap">
                                <div class="widget-title text-left">Information from Other Sources:</div></div>
                            <p>We may obtain additional information from third-party sources, including demographic data, social networks, and publicly-available data.</p>
                            </div></div></div><div
                    class="elementor-element elementor-element-def57b7 elementor-widget elementor-widget-gamg-sec-title"
                    data-id="def57b7" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left"> 2. How We Use the Information We Collect</div></div></div></div><div
                    class="elementor-element elementor-element-7047c49 elementor-widget elementor-widget-gmag-text-block"
                    data-id="7047c49" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>
                                    
                                    <p>We use the information we collect for various purposes:</p>

                                    <div class="fl-wrap">
                                <div class="widget-title text-left">Provide the Services:</div></div>                        

<p>- Deliver news content and fulfill requests for our publications.</p>
<p>- Manage your account and billing.</p>
<p>- Authenticate access to your account.</p>
<p>- Enable your participation in surveys and community forums.</p>

 <div class="fl-wrap">
                                <div class="widget-title text-left">Communicate with You:</div></div>  
<p>- Respond to your inquiries.</p>
<p>- Personalize communications.</p>
<p>- Send you service-related announcements.</p>

 <div class="fl-wrap">
                                <div class="widget-title text-left">Make Improvements to Our Services:</div></div>  
<p>- Develop new products and services.</p>
<p>- Enhance the design of our platform.</p>
<p>- Analyze how our services are used to improve user experience.</p>

 <div class="fl-wrap">
                                <div class="widget-title text-left">Provide Recommendations and Deliver Relevant Content:</div></div>  
<p>- Offer news and content that may interest you.</p>
<p>- Market our services.</p>
<p>- Send you promotional communications.</p>

 <div class="fl-wrap">
                                <div class="widget-title text-left">Investigate Illegal Activities:</div></div>  
<p>- Detect and prevent unauthorized use of our services.</p>
<p>- Protect the rights of our users and our organization.</p>
<p>- Comply with applicable laws.</p>
       <p> If you upload images to
                                the website, you should avoid uploading images
                                with embedded location data (EXIF GPS) included.
                                Visitors to the website can download and extract
                                any location data from images on the website.</p></div></div></div><div
                    class="elementor-element elementor-element-6157e7d elementor-widget elementor-widget-gamg-sec-title"
                    data-id="6157e7d" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left">3. Cookies</div></div></div></div><div
                    class="elementor-element elementor-element-6cfefd7 elementor-widget elementor-widget-gmag-text-block"
                    data-id="6cfefd7" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p><div class="fl-wrap">
                                <div class="widget-title text-left">
                                    Cookie Policy:</div></div>
                                    <P>Controlling cookies and tracking technologies is important for your online privacy. Here's how you can manage them:</P>
                                   <p> If you leave a comment
                                on our site you may opt-in to saving your name,
                                email address and website in cookies. These are
                                for your convenience so that you do not have to
                                fill in your details again when you leave
                                another comment. These cookies will last for one
                                year.</p>
                                
                                <p>If you visit our login page, we will
                                set a temporary cookie to determine if your
                                browser accepts cookies. This cookie contains no
                                personal data and is discarded when you close
                                your browser.</p><p>When you log in, we will
                                also set up several cookies to save your login
                                information and your screen display choices.
                                Login cookies last for two days, and screen
                                options cookies last for a year. If you select
                                "Remember Me", your login will persist for two
                                weeks. If you log out of your account, the login
                                cookies will be removed.</p><p>If you edit or
                                publish an article, an additional cookie will be
                                saved in your browser. This cookie includes no
                                personal data and simply indicates the post ID
                                of the article you just edited. It expires after
                                1 day.</p></div></div></div>
                                
                                
                                
                                <div
                    class="elementor-element elementor-element-55c92de elementor-widget elementor-widget-gamg-sec-title"
                    data-id="55c92de" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left">4. Embedded content
                                from other websites</div></div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-bab2df0 elementor-widget elementor-widget-gmag-text-block"
                    data-id="bab2df0" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>
                                Articles and posts on this site
                                may include embedded content (e.g. videos,
                                images, articles, etc.). Embedded content from
                                other websites behaves in the exact same way as
                                if the visitor has visited the other website.</p><p>These
                                websites may collect data about you, use
                                cookies, embed additional third-party tracking,
                                and monitor your interaction with that embedded
                                content, including tracking your interaction
                                with the embedded content if you have an account
                                and are logged in to that website.</p></div></div></div>
                                
                                
                                <div
                    class="elementor-element elementor-element-55c92de elementor-widget elementor-widget-gamg-sec-title"
                    data-id="55c92de" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left">5. Disclosure of Information</div></div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-bab2df0 elementor-widget elementor-widget-gmag-text-block"
                    data-id="bab2df0" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>
                                    
                                    
                                    We may disclose your information in the following ways:</p>
                                
                                

<div class="fl-wrap">
                                <div class="widget-title text-left">Publicly:</div></div>
<p>- If you submit content to us, such as online reviews, we may publish your provided information.</p>

<div class="fl-wrap">
                                <div class="widget-title text-left">Affiliates:</div></div>
<p>- We may share information with our global affiliates for administrative purposes and to fulfill contractual obligations.</p>

<div class="fl-wrap">
                                <div class="widget-title text-left">Sale or Merger of Business:</div></div>
<p>- In the event of a business transaction like a merger or sale, we may transfer your information to another entity, with no assurance of the same privacy practices.</p>

<div class="fl-wrap">
                                <div class="widget-title text-left">Service Providers:</div></div>
<p>- We may disclose personal information to service providers who assist us in delivering our services.</p>

<div class="fl-wrap">
                                <div class="widget-title text-left">Third Parties:</div></div>
<p>- Information may be shared with third parties for marketing purposes or in response to legal requests.</p>
                                
                                
                                
</div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-55c92de elementor-widget elementor-widget-gamg-sec-title"
                    data-id="55c92de" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left"> 6. Third-Party Websites</div></div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-bab2df0 elementor-widget elementor-widget-gmag-text-block"
                    data-id="bab2df0" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>Our services may contain links to third-party websites with their own privacy policies. We are not responsible for the privacy practices of these external sites.</p>
                            
                            
                            </div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-55c92de elementor-widget elementor-widget-gamg-sec-title"
                    data-id="55c92de" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left"> 7. Your Privacy Rights</div></div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-bab2df0 elementor-widget elementor-widget-gmag-text-block"
                    data-id="bab2df0" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>- You have the right to opt-out of certain data disclosures.</p>
                                <p>- You can request access to your personal information.</p>
                                <p>- You can request the deletion of your data.</p>
                                <p>- You can opt-out of the sale of your personal information.</p>
                                </div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-55c92de elementor-widget elementor-widget-gamg-sec-title"
                    data-id="55c92de" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left"> 8. Security of Personal Information</div></div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-bab2df0 elementor-widget elementor-widget-gmag-text-block"
                    data-id="bab2df0" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>We implement safeguards to protect your information, although no system is entirely foolproof.</p>
                            
                            </div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-55c92de elementor-widget elementor-widget-gamg-sec-title"
                    data-id="55c92de" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left">9. Retention of Personal Information</div></div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-bab2df0 elementor-widget elementor-widget-gmag-text-block"
                    data-id="bab2df0" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>We retain your personal information only as long as necessary, either by deleting or anonymizing it.</p>
                            
                            </div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-55c92de elementor-widget elementor-widget-gamg-sec-title"
                    data-id="55c92de" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left">10. Special Note for Parents</div></div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-bab2df0 elementor-widget elementor-widget-gmag-text-block"
                    data-id="bab2df0" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>Our services are not intended for users under the age of 13. We do not knowingly collect their personal information.</p>
                            
                            
                            </div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-55c92de elementor-widget elementor-widget-gamg-sec-title"
                    data-id="55c92de" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left">11. Changes to this Privacy Policy</div></div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-bab2df0 elementor-widget elementor-widget-gmag-text-block"
                    data-id="bab2df0" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>We may update this policy periodically, and the revised version will be posted on our website.</p></div></div></div>
                                
                                
                                <div
                    class="elementor-element elementor-element-3cca686 elementor-widget elementor-widget-gamg-sec-title"
                    data-id="3cca686" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left">12. Who we share your
                                data with</div></div></div></div><div
                    class="elementor-element elementor-element-db97ae8 elementor-widget elementor-widget-gmag-text-block"
                    data-id="db97ae8" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>If you request a
                                password reset, your IP address will be included
                                in the reset email.</p></div></div></div><div
                    class="elementor-element elementor-element-d1aea9a elementor-widget elementor-widget-gamg-sec-title"
                    data-id="d1aea9a" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left">13. How long we
                                retain your data</div></div></div></div><div
                    class="elementor-element elementor-element-36d9e90 elementor-widget elementor-widget-gmag-text-block"
                    data-id="36d9e90" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>If you leave a comment,
                                the comment and its metadata are retained
                                indefinitely. This is so we can recognize and
                                approve any follow-up comments automatically
                                instead of holding them in a moderation queue.</p><p>For
                                users that register on our website (if any), we
                                also store the personal information they provide
                                in their user profile. All users can see, edit,
                                or delete their personal information at any time
                                (except they cannot change their username).
                                Website administrators can also see and edit
                                that information.</p></div></div></div><div
                    class="elementor-element elementor-element-2e51fda elementor-widget elementor-widget-gamg-sec-title"
                    data-id="2e51fda" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left">14. What rights you
                                have over your data</div></div></div></div><div
                    class="elementor-element elementor-element-e124351 elementor-widget elementor-widget-gmag-text-block"
                    data-id="e124351" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>If you have an account
                                on this site, or have left comments, you can
                                request to receive an exported file of the
                                personal data we hold about you, including any
                                data you have provided to us. You can also
                                request that we erase any personal data we hold
                                about you. This does not include any data we are
                                obliged to keep for administrative, legal, or
                                security purposes.</p></div></div></div>
                                
                                <div
                    class="elementor-element elementor-element-00e7f74 elementor-widget elementor-widget-gamg-sec-title"
                    data-id="00e7f74" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left">15. Where your data
                                is sent</div></div></div></div><div
                    class="elementor-element elementor-element-fc59e6d elementor-widget elementor-widget-gmag-text-block"
                    data-id="fc59e6d" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>Visitor comments may be
                                checked through an automated spam detection
                                service.</p></div></div></div>
                               
                                <div
                    class="elementor-element elementor-element-00e7f74 elementor-widget elementor-widget-gamg-sec-title"
                    data-id="00e7f74" data-element_type="widget"
                    data-widget_type="gamg-sec-title.default"><div
                        class="elementor-widget-container"><div class="fl-wrap"><div
                                class="widget-title text-left">16. Contact Us</div></div></div></div><div
                    class="elementor-element elementor-element-fc59e6d elementor-widget elementor-widget-gmag-text-block"
                    data-id="fc59e6d" data-element_type="widget"
                    data-widget_type="gmag-text-block.default"><div
                        class="elementor-widget-container"><div
                            class="about-wrap gmag-text-block text-left"><p>If you have any questions or concerns regarding this Privacy Policy or our data practices, please <a href="{% url 'contact' %}">Contact</a> us at our page</p></div></div></div>
                            
                            </div></div></div>
                        </div></div></div>
                        
                        </section>
<br>
<br>
<!--about end   -->
{% endblock content %}