{% extends "base.html" %} {% load static %}
<!---->

{% include "meta/meta_terms.html" %}


{% block content %}
<!--section   -->
<div class="breadcrumbs-header fl-wrap">
    <div class="container">
        <div class="breadcrumbs-header_url">
            <a href="{% url  'posts:home' %}">Home </a><span> Terms & Conditions</span>
        </div>
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll Down To Discover</span>
        </div>
    </div>
    <div class="pwh_bg"></div>
</div>
<!-- section end  -->
<!--section   -->


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
               
                    
                    <div class="section-title sect_dec">
                        <h2>NEWSFOX TERMS OF SERVICE</h2>
                        <!-- <h4>Who we are</h4> -->
                    </div>
                    <div class="about-wrap">
                        <p>These Terms of Service (“Terms”) are an agreement between you and Lionnic Limited (“Lionnic,” "us," "our," or
                            "we") and set forth the legally binding terms for your use of our websites and applications that include a link
                            to these Terms (or any subdomains thereof) (the "Sites"), as well as in connection with any of our sales or
                            marketing activities or other services available on our Sites or offline that are owned by Lionnic
                            (“Services”)
                        </p>
                    
                        <p>These Terms apply to your use of the Sites and Services (however accessed and/or used, whether via personal
                            computers, mobile devices, or otherwise) or any other means or applications in which you connect with us and
                            your use of our Sites or Services
                        </p>
                    
                        <p>Our Privacy Policy, found here, is incorporated into and subject to these Terms by reference. Please review that
                            Privacy Policy for information about how we collect, use, and share information, including the data rights
                            available to you
                        </p>
                    </div>
                </div>
                
                <div>
                    <div class="section-title sect_dec">
                        <h2>Quick links</h2>
                    </div>
                    <div class="about-wrap">
                        <p>We recommend that you read these Terms in full to ensure you are fully informed.
                            However, to make it easier for you to review those parts of these Terms which apply
                            to you, we have divided up the document into the following sections:
                        </p>
                    </div>
                </div>
                
                <div class="elementor-element elementor-element-4a4a1f9 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="4a4a1f9" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="fl-wrap">
                                <div class="widget-title text-left">Quick links</div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-4709861 elementor-widget elementor-widget-gmag-text-block"
                        data-id="4709861" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>We recommend that you read these Terms in full to ensure you are fully informed.
                                    However, to make it easier for you to review those parts of these Terms which apply
                                    to you, we have divided up the document into the following sections:
                                </p>


                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-4a4a1f9 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="4a4a1f9" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="fl-wrap">
                                <div class="widget-title text-left">Who We Are</div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-4709861 elementor-widget elementor-widget-gmag-text-block"
                        data-id="4709861" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>Lionnic Limited is a UK-based publisher of current global news updates and the owner
                                    of Lionnic Studios, producer of multimedia content including news articles, videos,
                                    and virtual reality experiences.

                                </p>


                            </div>
                        </div>
                    </div>
                    
                    <div class="elementor-element elementor-element-49325e4 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="49325e4" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="section-title sect_dec text-left">
                                <h2>Acceptance of Terms</h2>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-fe0dc52 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="fe0dc52" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Agreement to the Terms</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3352867 elementor-widget elementor-widget-gmag-text-block"
                        data-id="3352867" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>Each time that you access or use our Sites or Services, you signify that you have
                                    read, understand, and agree to be bound by these Terms. If you do not agree to any
                                    of these Terms, you must discontinue using the Sites and Services.</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-0bc6e5b elementor-widget elementor-widget-gamg-sec-title"
                        data-id="0bc6e5b" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Eligibility</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-bf815a8 elementor-widget elementor-widget-gmag-text-block"
                        data-id="bf815a8" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>fYou must be at least 15 years old or have reached the age of majority in the
                                    jurisdiction in which you reside to use the Sites and Services, and you attest that
                                    you have reached the age of majority and have the legal capacity to be legally bound
                                    by these Terms.</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-460c448 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="460c448" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Electronic Form/Communications</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a572dce elementor-widget elementor-widget-gmag-text-block"
                        data-id="a572dce" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>By accessing or using the Sites or Services, you consent to having this agreement
                                    provided to you in electronic form and receiving communications from us
                                    electronically. We may communicate with you by postal mail, email, or by posting
                                    notices on the Sites. You agree that all agreements, notices, disclosures, and other
                                    communications we provide to you electronically satisfy any legal requirements that
                                    such communications be in writing, including renewal notices and notices about your
                                    subscription or account.</p>
                            </div>
                        </div>
                    </div>
                    

                    <div class="elementor-element elementor-element-49325e4 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="49325e4" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="section-title sect_dec text-left">
                                <h2>Account And Contact Information</h2>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-fe0dc52 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="fe0dc52" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Access to the Sites and Services</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3352867 elementor-widget elementor-widget-gmag-text-block"
                        data-id="3352867" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>You do not need to make a purchase in order to access and browse some sections of the
                                    Sites or Services, but you may not be able to access all of the features of the
                                    Sites or Services unless you make a purchase and create an account. If you are
                                    browsing the Sites or Services and have not yet created an account or made a
                                    purchase, your use of the Site or Services will still be subject to these Terms.</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-0bc6e5b elementor-widget elementor-widget-gamg-sec-title"
                        data-id="0bc6e5b" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Account</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-bf815a8 elementor-widget elementor-widget-gmag-text-block"
                        data-id="bf815a8" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>You can purchase a subscription and create an account by submitting the required
                                    information (“Lionnic Account”). You must provide accurate, current, and complete
                                    information during the registration process and keep your Lionnic Account
                                    up-to-date at all times. Any falsification of any information whatsoever may, at
                                    Lionnic's option, result in immediate suspension or termination of your right to
                                    use the Services.</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-460c448 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="460c448" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Security</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a572dce elementor-widget elementor-widget-gmag-text-block"
                        data-id="a572dce" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>If you use our Services, you are responsible for restricting access to your Lionnic
                                    Account and ensuring that your computer and mobile device are free from all types of
                                    malicious content, including content that may track any data you enter via the
                                    Services. Your login ID email address (or other unique identifier needed to create
                                    an account) and password, together with any mobile number or other contact
                                    information you provide, form your “Account Information.” You understand and agree
                                    that you are responsible for maintaining the confidentiality and security of your
                                    password and other Account Information, and that you are solely responsible for all
                                    activities that occur on or through your Lionnic Account. You further agree to
                                    notify Lionnic immediately of any unauthorized access to your Lionnic Account or
                                    unauthorized use of your Account Information or any other security breach by
                                    emailing us at editor.Lionnic@gmail.com.</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Contacting You</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>When you provide us with contact information in connection with a particular activity
                                    or when using our Services, such as an email address or telephone number, you agree
                                    that this action constitutes a purchase or inquiry establishing a business
                                    relationship with us. You expressly consent to our communicating with you using
                                    contact information obtained directly from you or which is provided to us with your
                                    consent. You attest that you have the legal authority over any contact information
                                    provided to us and can provide us and/or third parties with the authorization to
                                    contact you. This means you may be contacted in person or by recorded message, by
                                    email, telephone, and/or mobile telephone number (including use of automated dialing
                                    equipment), text (SMS) message, IM messaging, or any other means of communication
                                    that your wireless or other telecommunications device may be capable of receiving),
                                    in accordance with applicable laws or regulations (“Applicable Laws”).</p>
                            </div>
                        </div>
                    </div>

                    <div class="elementor-element elementor-element-49325e4 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="49325e4" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="section-title sect_dec text-left">
                                <h2>Arbitration Agreement</h2>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-fe0dc52 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="fe0dc52" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Informal Process First </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3352867 elementor-widget elementor-widget-gmag-text-block"
                        data-id="3352867" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>You agree that in the event of any dispute between you and us, you will first contact
                                    us and make a good faith sustained effort to resolve the dispute before resorting to
                                    more formal means of resolution, including without limitation any court action.</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-0bc6e5b elementor-widget elementor-widget-gamg-sec-title"
                        data-id="0bc6e5b" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Arbitration Option</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-bf815a8 elementor-widget elementor-widget-gmag-text-block"
                        data-id="bf815a8" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>For any dispute that you have with Lionnic, you agree to first contact us and
                                    attempt to resolve the dispute with us informally. In the unlikely event that
                                    Lionnic has not been able to resolve a dispute it has with you after 60 days, we
                                    each agree to resolve any claim, through these channels</p>
                            </div>
                        </div>
                    </div>

                    <div class="elementor-element elementor-element-49325e4 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="49325e4" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="section-title sect_dec text-left">
                                <h2>Your Use of Our Global News Platform</h2>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-fe0dc52 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="fe0dc52" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">

                            <div class="pr-subtitle prs_big text-left">User Guidelines</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3352867 elementor-widget elementor-widget-gmag-text-block"
                        data-id="3352867" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <p>When using our Global News Platform, please adhere to the following guidelines:</p>
                            <div class="about-wrap gmag-text-block text-left">
                                <p><strong>1. Personal Use:</strong> Use the platform for personal news consumption
                                    only.</p>
                                <p><strong>2. No Modifications:</strong> Do not modify, translate, or create derivative
                                    works from our content or services.</p>
                                <p><strong>3. No Malware:</strong> Avoid uploading any information containing malware or
                                    code that could harm the platform.</p>
                                <p><strong>4. Respect Copyright:</strong> Do not attempt to reverse engineer, decompile,
                                    or access source code.</p>
                                <p><strong>5. No Automation:</strong> Avoid using automated tools to access or collect
                                    user information.</p>
                                <p><strong>6. No Unauthorized Sharing:</strong> Do not share or distribute our services
                                    to third parties.
                                <p><strong>7. No Exploitation:</strong> Do not exploit any technical errors or bugs.</p>
                                <p><strong>8. No Harvesting:</strong> Do not gather user information using automatic
                                    methods.</p>
                                <p><strong>9. Respect Laws and Guidelines:</strong> Follow all applicable laws and
                                    accepted practices.</p>
                                <p><strong>10. No Harmful Content:</strong> Do not post unlawful, defamatory, explicit,
                                    or harmful material.</p>
                                <p><strong>11. Respect Privacy:</strong> Refrain from harassing or disclosing personal
                                    information about others.</p>
                                <p><strong>12. No Impersonation:</strong> Do not impersonate others or misrepresent
                                    affiliations.</p>
                                <p><strong>13. Report Violations:</strong> If you find objectionable content, report it
                                    to [email address].</p>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="elementor-element elementor-element-0bc6e5b elementor-widget elementor-widget-gamg-sec-title"
                        data-id="0bc6e5b" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Monitoring and Content Management</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-bf815a8 elementor-widget elementor-widget-gmag-text-block"
                        data-id="bf815a8" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>We may monitor network traffic and have the right to review, disable access, or edit
                                    content for various reasons, including:</p>
                                <p>- Ensuring platform security.</p>
                                <p>- Complying with laws and regulations.</p>
                                <p>- Addressing harmful or objectionable content.</p>
                                <p>- Improving platform performance.</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-460c448 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="460c448" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">User-Generated Content</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a572dce elementor-widget elementor-widget-gmag-text-block"
                        data-id="a572dce" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">

                                <p>You can share content, such as reviews, photos, and videos, with other users. Please
                                    note:</p>
                                <p>- Your content is public, so exercise caution with personal information.</p>
                                <p>- We reserve the right to review and remove user-generated content.</p>
                                <p>- We are not responsible for any misuse or misappropriation of your content.</p>

                            </div>
                        </div>
                    </div>

                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Embedded Videos</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">

                                <p>You can embed our videos on other websites with certain conditions:</p>
                                <p>- Do not alter the embedded video.</p>
                                <p>- Use the provided Player.</p>
                                <p>- Commercial use is allowed with some restrictions.</p>
                                <p>- Do not block or disable any part of the Player.</p>



                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Report Objectionable Content</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">

                                <p>If you encounter objectionable content, please report it to us.</p>



                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Content Licensing</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">

                                <p>By posting content, you grant us a worldwide, non-exclusive license to use,
                                    reproduce, and display it. </p>



                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Ownership Representation</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">

                                <p>You retain ownership and confirm that your content does not violate any laws or
                                    third-party rights.</p>



                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Feedback Submission</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">

                                <p>We do not accept unauthorized idea submissions. Feedback you provide is
                                    non-confidential, and we may use it without compensation.</p>



                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Termination</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">

                                <p>We may terminate your access at any time if you violate these terms. Termination will
                                    not affect any legal rights.</p>



                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Third-Party Links</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">

                                <p>Our platform may contain links to other websites or applications. We are not
                                    responsible for their content or policies.</p>



                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Linking to Our Platform</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">

                                <p>If you link to our platform, follow our guidelines and do not frame or obscure our
                                    content.</p>



                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Data Collection Policy</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">

                                <p>No third party may collect data from our users without our permission.</p>



                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Modification of Services</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">

                                <p>We may modify our services at any time without obligation to provide updates.</p>



                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Injunctive Relief</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">

                                <p>We can seek injunctive relief for any breach of these terms.</p>



                            </div>
                        </div>
                    </div>
                    
                    <div class="elementor-element elementor-element-49325e4 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="49325e4" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="section-title sect_dec text-left">
                                <h2>Ownership of Content and Marks</h2>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-fe0dc52 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="fe0dc52" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Our Ownership and Protection of Content: </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3352867 elementor-widget elementor-widget-gmag-text-block"
                        data-id="3352867" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>Lionnic, its subsidiaries, affiliates, or licensors, own all content published on or
                                    accessible through our platform (including articles, images, videos, graphics, and
                                    more). These materials are protected by copyright and other intellectual property
                                    laws. We have copyrights in how we organize and present this content, as well as in
                                    the platform itself. Any trademarks, logos, or service marks you see on our platform
                                    are our property.</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-0bc6e5b elementor-widget elementor-widget-gamg-sec-title"
                        data-id="0bc6e5b" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Your Limited License: </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-bf815a8 elementor-widget elementor-widget-gmag-text-block"
                        data-id="bf815a8" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>When you use Lionnic, you are granted a limited, non-commercial, non-exclusive, and
                                    revocable license to access and view our content for personal use related to staying
                                    informed about global news. You do not acquire ownership of our platform or its
                                    content, and you cannot use it in ways not explicitly allowed in these terms.</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-460c448 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="460c448" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Notices Regarding Third-Party Content</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a572dce elementor-widget elementor-widget-gmag-text-block"
                        data-id="a572dce" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>Certain visual content, like images from Getty Images and other sources, may have
                                    specific usage restrictions. You can only download such content for personal,
                                    non-commercial use.</p>
                            </div>
                        </div>
                    </div>

                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Reporting Copyright Infringements: </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>If you believe that any material on our platform infringes on your copyright, please
                                    send us a written request, including:</p>

                                <p>1. The URL of the material in question.</p>
                                <p>2. Your contact information (name, address, phone number, and email).</p>
                                <p>3. A statement that you have a good faith belief that the material is being used
                                    without authorization.</p>
                                <p>4. A statement that the information you provide is accurate, and you have the
                                    authority to act on behalf of the copyright owner.</p>
                                <p>5. Your signature.</p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Counter-Notice: </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>If your material has been removed due to a DMCA notice, you can request its
                                    restoration by providing:</p>

                                <p>1. Information to identify the removed content and its location.</p>
                                <p>2. Your contact information (name, address, phone number, and email).</p>
                                <p>3. A statement consenting to the jurisdiction of UK courts.</p>
                                <p>4. A statement that you believe the removal was a mistake.</p>
                                <p>5. Your signature.</p>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="elementor-element elementor-element-49325e4 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="49325e4" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="section-title sect_dec text-left">
                                <h2>Disclaimer of Warranties</h2>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-fe0dc52 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="fe0dc52" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Using Lionnic: </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3352867 elementor-widget elementor-widget-gmag-text-block"
                        data-id="3352867" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>Your use of Lionnic is voluntary, and you are solely responsible for your actions.
                                    We provide content and information "as is," and we do not guarantee uninterrupted or
                                    error-free service. We do not warrant that our platform or content is free of
                                    viruses</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-0bc6e5b elementor-widget elementor-widget-gamg-sec-title"
                        data-id="0bc6e5b" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Accuracy and Reliability: </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-bf815a8 elementor-widget elementor-widget-gmag-text-block"
                        data-id="bf815a8" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>We do not guarantee the correctness, accuracy, timeliness, or reliability of the
                                    information on our platform. Due to the nature of the internet, we cannot guarantee
                                    continuous access to our service. We may restrict access for maintenance or security
                                    reasons.</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-460c448 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="460c448" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Your Responsibility: </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a572dce elementor-widget elementor-widget-gmag-text-block"
                        data-id="a572dce" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>It's your responsibility to evaluate the accuracy, completeness, and usefulness of
                                    the information on Lionnic. Seek professional advice when needed, especially for
                                    financial, health, or lifestyle matters.</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2edb189 elementor-widget elementor-widget-gamg-sec-title"
                        data-id="2edb189" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                        <div class="elementor-widget-container">
                            <div class="pr-subtitle prs_big text-left">Remarks</div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-360893d elementor-widget elementor-widget-gmag-text-block"
                        data-id="360893d" data-element_type="widget" data-widget_type="gmag-text-block.default">
                        <div class="elementor-widget-container">
                            <div class="about-wrap gmag-text-block text-left">
                                <p>We hope these updated terms make using Lionnic for global news updates more
                                    accessible and clear. If you have any questions or concerns, please feel free to
                                    contact us. Stay informed and enjoy using Lionnic!</p>
                            </div>
                        </div>
                    </div>
                
                
                
                
            </div>
            <!-- <div class="col-md-1"></div> -->
            
           
        </div>
    </div>
</section>



<!--about end   -->


                
<br>
<br>




{% endblock content %}



