{% extends "base.html" %} {% load static %}


<!---->
{% block meta %}
{% include "meta/meta_tags.html" %}
{% endblock meta %}
<!---->

{% block title %}
{{ block.super }} Home 
{% endblock title %}
<!---->

{% block content %}

<!-- hero grid    -->
{% include "screens/pages/home/hero.html" %}
<!-- /hero grid    -->

<!-- section   -->

<!-- section end -->

{% include "screens/pages/home/sections.html" %}
<!---->

{% include "screens/pages/home/best.html" %}

<!--  -->

{% include "screens/pages/home/trending.html" %}

<!-- Banner -->

{% include "shared/banner.html" %}

{% endblock content %}

