<div class="col-lg-8 col-md-12">
    <div class="card">
        <div class="body">
            <ul class="nav nav-tabs-new">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Overview">Overview</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Settings">Settings</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content padding-0">

        <!-- overview tab -->
        {% include "dashboard/shared/pages/profile/actions/overview.html" %}
        
        <!-- settings tab -->
        {% include "dashboard/shared/pages/profile/actions/settings.html" %}

    </div>
</div>
