{% load static %}

<div class="block-header">
    <div class="row clearfix">
      <div class="col-md-6 col-sm-12">
        <h2>Dashboard</h2>
      </div>
      <div class="col-md-6 col-sm-12 text-right">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard:home' %}"><i class="icon-home"></i></a>
          </li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ul>
        <a
          href="{% url 'dashboard:post_regular_create' %}"
          class="btn btn-sm btn-primary"
          title=""
          >Create New</a
        >
      </div>
    </div>
  </div>